body {
  font-family: sans-serif;
}

ul.menu {
  border-bottom: 2px solid #2f4f4f;
  text-align: right;
  list-style: none;
}

.menu > li {
  display: inline-block;
  width: 120px;
  border: 1px solid #2f4f4f;
  border-bottom: 0;
  padding: 0.3em;
  text-align: center;
}

li a {
  color: #2f4f4f;
  text-decoration: none;
}

.menu > li:hover {
  background-color: #555;
  color: white;
}

.menu > li a:hover {
  color: white;
}
