body {
  font-family: sans-serif;
  padding: 0;
}

.header {
  border: 0;
  padding: 0;
  width: 100%;
  height: 70px;
  background-color: #2f4f4f;
  text-align: left;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 1em;
  border: 1em solid #2f4f4f;
  background-color: #2f4f4f;
  text-align: right;
  color: white;
  font-size: 0.7em;
}

.footer a {
  padding-right: 2em;
  color: white;
}

h1 {
  color: white;
  font-size: 2em;
  padding: 0.6em;
}

.convertion-panel {
  padding-top: 2.7em;
  padding-left: 1.3em;
}

.test-panel {
  padding-top: 2.7em;
  padding-left: 1.3em;
}

.test-panel > h2 {
  font-weight: bold;
  padding-bottom: 1em;
}

.convertion-panel {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  font-weight: bold;
}

.convertion-panel label {
  margin: 5px 10px 5px 0;
}

.convertion-panel input {
  min-width: 200px;
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  font-size: 1em;
}

.convertion-panel button {
  padding: 10px 20px;
  background-color: #131313;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.convertion-panel button:hover {
  background-color: #363636;
}

.amount-text,
.amount-error {
  min-width: 300px;
}

.amount-error {
  color: #ff000065;
}

.amount-text > h3#amount-text,
h3#amount-error {
  padding: 10px 20px;
  min-width: 300px;
}

@media (max-width: 600px) {
  .convertion-panel input {
    margin: 10px 0;
  }

  .convertion-panel {
    margin-right: 10px;
    flex-direction: column;
    align-items: stretch;
  }
}
